<aside class="aside">
  <div class="author">
    <img src="./assets/images/logo-adalab.png" alt="Autora" title="Autora" class="author-image" />
    <h3>Autora</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae necessitatibus accusamus
      perferendis. Aliquid vitae atque iusto quaerat asperiores natus laborum vel veniam cum, est
      magni accusamus necessitatibus dolor corrupti non?
    </p>
  </div>

  <div class="links">
    <nav>
      <ul>
        <li>
          <a href="#">Sección 1</a>
        </li>
        <li>
          <a href="#">Sección 2</a>
        </li>
        <li>
          <a href="#">Sección 3</a>
        </li>
        <li>
          <a href="#">Sección 4</a>
        </li>
        <li>
          <a href="#">Sección 5</a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li>
          <a href="#">Categoría 1</a>
        </li>
        <li>
          <a href="#">Categoría 2</a>
        </li>
        <li>
          <a href="#">Categoría 3</a>
        </li>
        <li>
          <a href="#">Categoría 4</a>
        </li>
        <li>
          <a href="#">Categoría 5</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
